target/
!**/src/main/**/target/
!**/src/test/**/target/
dependency-reduced-pom.xml

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Mac OS ###
.DS_Store
