# Copyright 2023 Korandoru Contributors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Release

on:
  push:
    branches: ['main']
    tags: ['v1.*']

jobs:
  build-and-push-hawkeye-amd64:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v3
      - name: Build and push by digest
        uses: ./.github/actions/docker-build
        id: build
        with:
          name: hawkeye
          file: Dockerfile
          push: true
    outputs:
      digest: ${{ steps.build.outputs.digest }}

  build-and-push-hawkeye-arm64:
    runs-on: buildjet-4vcpu-ubuntu-2204-arm
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v3
      - name: Build and push by digest
        uses: ./.github/actions/docker-build
        id: build
        with:
          name: hawkeye
          file: Dockerfile
          push: true
    outputs:
      digest: ${{ steps.build.outputs.digest }}

  build-and-push-hawkeye-native-amd64:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v3
      - name: Build and push by digest
        uses: ./.github/actions/docker-build
        id: build
        with:
          name: hawkeye-native
          file: Dockerfile.native
          push: true
    outputs:
      digest: ${{ steps.build.outputs.digest }}

  build-and-push-hawkeye-native-arm64:
    runs-on: buildjet-4vcpu-ubuntu-2204-arm
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v3
      - name: Build and push by digest
        uses: ./.github/actions/docker-build
        id: build
        with:
          name: hawkeye-native
          file: Dockerfile.native
          push: true
    outputs:
      digest: ${{ steps.build.outputs.digest }}

  release-hawkeye:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    needs:
      - build-and-push-hawkeye-amd64
      - build-and-push-hawkeye-arm64
    steps:
      - uses: actions/checkout@v3
      - name: Merge and push manifest
        uses: ./.github/actions/docker-release
        with:
          name: hawkeye
          digests: ${{needs.build-and-push-hawkeye-amd64.outputs.digest}} ${{needs.build-and-push-hawkeye-arm64.outputs.digest}}

  release-native:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    needs:
      - build-and-push-hawkeye-native-amd64
      - build-and-push-hawkeye-native-arm64
    steps:
      - uses: actions/checkout@v3
      - name: Merge and push manifest
        uses: ./.github/actions/docker-release
        with:
          name: hawkeye-native
          digests: ${{needs.build-and-push-hawkeye-native-amd64.outputs.digest}} ${{needs.build-and-push-hawkeye-native-arm64.outputs.digest}}
